<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DisaXta Alert</title>
</head>
<body>
    <h1>Disaster alert in your location ( <%= location %> )</h1>
    <p>there has been a report of an ongoing <%= disasterType %> in <%= location %></p>
    <p>residence are advised to stay at a safe distance away from the location.</p>
    <p>thank you.</p>
</body>
</html>