<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>
<body>
    <h1>forget password</h1>
    <p>
        click the button below to complete reset your password
    </p>
    <a href="<%= url %>" ><button> password</button></a>
</body>
</html>