<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email verification</title>
</head>
<body>
    <h1>your verification code</h1>
    <p>here is your <%= code.length %> digits verification code%></p>
    <h4><%= code %></h4>
</body>
</html>